html {
  font: 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*===============================
=            Headers            =
===============================*/

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}


/*=====  End of Headers  ======*/



.special {
  font-style: italic;
}

.firm {
  font-variant: small-caps;
}


/*
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
}