@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/reset.scss/reset.scss";
@import "helpers/index.scss";

body { 
	background: red;
	font-size: 3rem;   
	min-height: 1000rem;
	color: #fff;  
	padding: 2rem;     
}

p {
	margin-bottom: 2rem;
}

.main {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	overflow: hidden; 
	@include transform(scale(0));  
}

.main__circle {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 125vh;
	width: 125vh; 
	z-index: 100;
    display:block;
    border-radius: 10px; 
    display: block;      
}
 